.whychooseus {
  .owl-carousel {
    &.owl-mobile-only {
      display: none;
    }
  }
}
.whychooseus-content {
  margin-top: 100px;
  .whychooseus-content__item {
    padding: 10px 0;
    min-height: 165px;
    justify-content: space-between;
    align-items: flex-start;
    img {
      margin-top: 10px;
    }
    p {
      font-size: $fs-0;
      color: $color-gray-0;
      line-height: 1.5;
      margin-bottom: $mg-1;
      text-align: justify;
      width: 76%;
      font-weight: $fw-1;
    }
  }
}
@include responsive("small") {
  .whychooseus {
    .whychooseus-content {
      display: none;
    }
    .owl-carousel {
      &.owl-mobile-only {
        display: block;
        .whychooseus-content__item {
          align-items: center;
          justify-content: center;
          width:80%;
          margin: 0 auto;
          p{
              text-align: justify;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .whychooseus {
        .whychooseus-content {
          display: none;
        }
        .owl-carousel {
          &.owl-mobile-only {
            display: block;
            .whychooseus-content__item {
              align-items: center;
              justify-content: center;
              width:80%;
              margin: 0 auto;
              p{
                  text-align: justify;
              }
            }
          }
        }
      }
}
